***Data Cleaning***

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import sklearn 
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

In [3]:
df = pd.read_csv(fr"../ecommerce_data_2k25.csv")

In [4]:
df.head()

,customer_id,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,product_clicked,loyalty_score,product_category,price,session_date,session_time,device_type,referral_source,repeat_customer
0,ec52cec1-54b5-40cc-be5c-ee83692a781d,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,perhaps,12,Electronics,0.00,2025-06-25 08:17:45,10.14,Tablet,Direct,1
1,740d2f73-d569-4551-8b51-a293350256a8,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,theory,36,Home,0.00,2025-07-20 22:06:53,16.96,Tablet,Search,0
2,080bb30f-bb6d-4344-84f0-f93bee79c4d9,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,describe,4,Electronics,0.00,2025-07-11 15:41:26,4.69,Desktop,Direct,1
3,89030e48-018d-42a0-aaf6-3435bc998a6e,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,TV,42,Electronics,334.84,2025-01-02 02:41:50,6.27,Mobile,Social,0
4,898a2eea-10be-45ed-9d59-39984ab92437,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,window,6,Electronics,445.34,2025-02-11 06:59:13,24.66,Mobile,Social,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       6000 non-null   object
 1   gender            6000 non-null   object
 2   ages              6000 non-null   int64
 3   country           6000 non-null   object
 4   pages_visited     6000 non-null   int64
 5   payment_method    6000 non-null   object
 6   cart_value        6000 non-null   float64
 7   discount_applied  6000 non-null   int64
 8   customer_segment  6000 non-null   object
 9   purchased         6000 non-null   int64
 10  product_clicked   6000 non-null   object
 11  loyalty_score     6000 non-null   int64
 12  product_category  6000 non-null   object
 13  price             6000 non-null   float64
 14  session_date      6000 non-null   object
 15  session_time      6000 non-null   float64
 16  device_type       6000 non-null   object
 17  referral_source   6000 non-null   object
 18  repeat_customer   6000 non-null   int64
dtypes: float64(3), int64(6), object(10)
memory usage: 890.8+ KB

In [6]:
df

,customer_id,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,product_clicked,loyalty_score,product_category,price,session_date,session_time,device_type,referral_source,repeat_customer
0,ec52cec1-54b5-40cc-be5c-ee83692a781d,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,perhaps,12,Electronics,0.00,2025-06-25 08:17:45,10.14,Tablet,Direct,1
1,740d2f73-d569-4551-8b51-a293350256a8,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,theory,36,Home,0.00,2025-07-20 22:06:53,16.96,Tablet,Search,0
2,080bb30f-bb6d-4344-84f0-f93bee79c4d9,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,describe,4,Electronics,0.00,2025-07-11 15:41:26,4.69,Desktop,Direct,1
3,89030e48-018d-42a0-aaf6-3435bc998a6e,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,TV,42,Electronics,334.84,2025-01-02 02:41:50,6.27,Mobile,Social,0
4,898a2eea-10be-45ed-9d59-39984ab92437,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,window,6,Electronics,445.34,2025-02-11 06:59:13,24.66,Mobile,Social,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,554beae0-0fd7-42b6-ad60-6c7b6d1a69db,Male,59,Kenya,6,Crypto,375.02,0,Bargain Hunter,1,develop,1,Electronics,249.52,2025-05-02 13:55:45,19.70,Mobile,Direct,0
5996,b71ff576-da19-404c-b542-f63d046321a5,Female,38,Ghana,13,Credit Card,540.10,1,Window Shopper,1,opportunity,30,Electronics,408.07,2025-05-27 03:14:05,20.09,Desktop,Email,1
5997,8ee3d998-261e-4b3f-99d0-4758b70c9813,Female,62,China,7,Bank Transfer,169.63,0,Impulse Buyer,1,attorney,90,Books,43.72,2025-06-14 05:20:33,15.19,Desktop,Search,1
5998,70f07370-cc18-45f2-8834-ee8d24f0873b,Male,62,Denmark,14,Crypto,296.99,0,Bargain Hunter,1,answer,20,Electronics,214.24,2025-05-24 09:44:44,27.87,Tablet,Social,0
5999,6a90edce-9f08-4f7f-a0c6-635b173d0eaf,Female,20,Colombia,8,Credit Card,0.00,1,Window Shopper,0,support,8,Beauty,0.00,2025-05-12 12:09:06,15.63,Mobile,Social,1

In [7]:
df.drop(columns = ['customer_id','session_date', ],inplace = True)

In [8]:
df

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,product_clicked,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,perhaps,12,Electronics,0.00,10.14,Tablet,Direct,1
1,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,theory,36,Home,0.00,16.96,Tablet,Search,0
2,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,describe,4,Electronics,0.00,4.69,Desktop,Direct,1
3,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,TV,42,Electronics,334.84,6.27,Mobile,Social,0
4,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,window,6,Electronics,445.34,24.66,Mobile,Social,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Male,59,Kenya,6,Crypto,375.02,0,Bargain Hunter,1,develop,1,Electronics,249.52,19.70,Mobile,Direct,0
5996,Female,38,Ghana,13,Credit Card,540.10,1,Window Shopper,1,opportunity,30,Electronics,408.07,20.09,Desktop,Email,1
5997,Female,62,China,7,Bank Transfer,169.63,0,Impulse Buyer,1,attorney,90,Books,43.72,15.19,Desktop,Search,1
5998,Male,62,Denmark,14,Crypto,296.99,0,Bargain Hunter,1,answer,20,Electronics,214.24,27.87,Tablet,Social,0
5999,Female,20,Colombia,8,Credit Card,0.00,1,Window Shopper,0,support,8,Beauty,0.00,15.63,Mobile,Social,1

In [9]:
df['country'].value_counts()

country
Congo                  60
Korea                  54
San Marino             37
Australia              37
Nepal                  37
                       ..
Trinidad and Tobago    15
Samoa                  15
Tanzania               14
Montserrat             13
Cayman Islands         12
Name: count, Length: 243, dtype: int64

In [10]:
df.drop(columns= 'product_clicked', inplace = True)

In [11]:
df

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,12,Electronics,0.00,10.14,Tablet,Direct,1
1,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,36,Home,0.00,16.96,Tablet,Search,0
2,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,4,Electronics,0.00,4.69,Desktop,Direct,1
3,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,42,Electronics,334.84,6.27,Mobile,Social,0
4,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,6,Electronics,445.34,24.66,Mobile,Social,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Male,59,Kenya,6,Crypto,375.02,0,Bargain Hunter,1,1,Electronics,249.52,19.70,Mobile,Direct,0
5996,Female,38,Ghana,13,Credit Card,540.10,1,Window Shopper,1,30,Electronics,408.07,20.09,Desktop,Email,1
5997,Female,62,China,7,Bank Transfer,169.63,0,Impulse Buyer,1,90,Books,43.72,15.19,Desktop,Search,1
5998,Male,62,Denmark,14,Crypto,296.99,0,Bargain Hunter,1,20,Electronics,214.24,27.87,Tablet,Social,0
5999,Female,20,Colombia,8,Credit Card,0.00,1,Window Shopper,0,8,Beauty,0.00,15.63,Mobile,Social,1

In [12]:
len(df['country'].unique())   # Number of unique countries

243

This means that we would need to convert these words (countries) into numeric data using encoders

In [15]:
df.head(5)

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,12,Electronics,0.00,10.14,Tablet,Direct,1
1,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,36,Home,0.00,16.96,Tablet,Search,0
2,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,4,Electronics,0.00,4.69,Desktop,Direct,1
3,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,42,Electronics,334.84,6.27,Mobile,Social,0
4,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,6,Electronics,445.34,24.66,Mobile,Social,1

In [16]:
categorical_features = ['gender', 'country', 'product_category','payment_method', 'customer_segment', 'device_type','referral_source']
numeric_features = ['age', 'pages_visited','cart_value','discount_applied', 'loyalty_score', 'session_time', 'price', 'repeat_customer']
target = 'purchased'

In [20]:
df_cleaned=df

In [27]:
X = df_cleaned.drop(columns=[target])
y = df_cleaned[target]

In [28]:
df_cleaned

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,Male,31,Guyana,5,Bank Transfer,0.00,0,Window Shopper,0,12,Electronics,0.00,10.14,Tablet,Direct,1
1,Female,56,Thailand,1,Crypto,0.00,0,Impulse Buyer,0,36,Home,0.00,16.96,Tablet,Search,0
2,Male,20,Suriname,17,PayPal,0.00,0,Window Shopper,0,4,Electronics,0.00,4.69,Desktop,Direct,1
3,Female,64,Falkland Islands (Malvinas),16,PayPal,467.43,1,Window Shopper,1,42,Electronics,334.84,6.27,Mobile,Social,0
4,Male,48,Suriname,1,PayPal,522.26,0,Bargain Hunter,1,6,Electronics,445.34,24.66,Mobile,Social,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,Male,59,Kenya,6,Crypto,375.02,0,Bargain Hunter,1,1,Electronics,249.52,19.70,Mobile,Direct,0
5996,Female,38,Ghana,13,Credit Card,540.10,1,Window Shopper,1,30,Electronics,408.07,20.09,Desktop,Email,1
5997,Female,62,China,7,Bank Transfer,169.63,0,Impulse Buyer,1,90,Books,43.72,15.19,Desktop,Search,1
5998,Male,62,Denmark,14,Crypto,296.99,0,Bargain Hunter,1,20,Electronics,214.24,27.87,Tablet,Social,0
5999,Female,20,Colombia,8,Credit Card,0.00,1,Window Shopper,0,8,Beauty,0.00,15.63,Mobile,Social,1

In [36]:
from sklearn.preprocessing import LabelEncoder

# Create a copy of the original DataFrame
X = df_cleaned.copy()

label_encoder = LabelEncoder()

for col in categorical_features:
    X[col] = label_encoder.fit_transform(X[col])

In [37]:
X

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,1,31,91,5,0,0.00,0,3,0,12,3,0.00,10.14,2,0,1
1,0,56,215,1,2,0.00,0,1,0,36,4,0.00,16.96,2,2,0
2,1,20,206,17,3,0.00,0,3,0,4,3,0.00,4.69,0,0,1
3,0,64,68,16,3,467.43,1,3,1,42,3,334.84,6.27,1,3,0
4,1,48,206,1,3,522.26,0,0,1,6,3,445.34,24.66,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1,59,112,6,2,375.02,0,0,1,1,3,249.52,19.70,1,0,0
5996,0,38,80,13,1,540.10,1,3,1,30,3,408.07,20.09,0,1,1
5997,0,62,44,7,0,169.63,0,1,1,90,1,43.72,15.19,0,2,1
5998,1,62,57,14,2,296.99,0,0,1,20,3,214.24,27.87,2,3,0
5999,0,20,47,8,1,0.00,1,3,0,8,0,0.00,15.63,1,3,1

Data above is now numerical and ready to be served into the model

In [38]:
X_correlation = X.corr()

In [39]:
X_correlation

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
gender,1.000000,0.004238,-0.014294,0.013776,0.001561,0.010969,-0.020882,-0.029346,0.008063,-0.011960,-0.019503,0.018857,0.007435,0.010086,-0.007427,0.010485
ages,0.004238,1.000000,-0.004514,0.009020,-0.008275,0.029904,-0.004991,0.016666,0.033944,-0.009004,0.017919,0.035346,-0.019836,0.012224,-0.005931,-0.008930
country,-0.014294,-0.004514,1.000000,0.004741,-0.002578,0.008029,-0.009956,-0.001110,0.003802,-0.015981,0.005247,0.004934,-0.003082,0.017000,-0.005321,-0.006503
pages_visited,0.013776,0.009020,0.004741,1.000000,-0.019959,0.002093,-0.016479,-0.004150,-0.008683,0.000388,-0.006619,0.010941,-0.002233,-0.005424,-0.003154,-0.000481
payment_method,0.001561,-0.008275,-0.002578,-0.019959,1.000000,0.012299,-0.001688,0.001726,0.009665,-0.004518,0.010677,0.012362,-0.019724,0.003369,-0.019118,0.020796
cart_value,0.010969,0.029904,0.008029,0.002093,0.012299,1.000000,-0.001558,0.018031,0.749938,0.007079,0.206910,0.904857,-0.009048,-0.005919,-0.008415,0.001194
discount_applied,-0.020882,-0.004991,-0.009956,-0.016479,-0.001688,-0.001558,1.000000,-0.010519,0.004031,0.007808,0.008062,-0.002528,-0.012076,0.004531,0.002256,0.011743
customer_segment,-0.029346,0.016666,-0.001110,-0.004150,0.001726,0.018031,-0.010519,1.000000,0.013391,0.005235,-0.010875,0.012699,-0.001822,0.002805,-0.015191,-0.000944
purchased,0.008063,0.033944,0.003802,-0.008683,0.009665,0.749938,0.004031,0.013391,1.000000,0.004579,0.003193,0.544451,-0.007018,-0.013173,-0.003628,-0.001689
loyalty_score,-0.011960,-0.009004,-0.015981,0.000388,-0.004518,0.007079,0.007808,0.005235,0.004579,1.000000,-0.005766,0.001295,0.001277,-0.011743,-0.001549,-0.014421
product_category,-0.019503,0.017919,0.005247,-0.006619,0.010677,0.206910,0.008062,-0.010875,0.003193,-0.005766,1.000000,0.293643,-0.010505,-0.005995,0.003552,0.006257
price,0.018857,0.035346,0.004934,0.010941,0.012362,0.904857,-0.002528,0.012699,0.544451,0.001295,0.293643,1.000000,-0.005322,0.003537,-0.007630,-0.000550
session_time,0.007435,-0.019836,-0.003082,-0.002233,-0.019724,-0.009048,-0.012076,-0.001822,-0.007018,0.001277,-0.010505,-0.005322,1.000000,-0.006006,0.006674,0.017443
device_type,0.010086,0.012224,0.017000,-0.005424,0.003369,-0.005919,0.004531,0.002805,-0.013173,-0.011743,-0.005995,0.003537,-0.006006,1.000000,-0.000227,0.011692
referral_source,-0.007427,-0.005931,-0.005321,-0.003154,-0.019118,-0.008415,0.002256,-0.015191,-0.003628,-0.001549,0.003552,-0.007630,0.006674,-0.000227,1.000000,0.019420
repeat_customer,0.010485,-0.008930,-0.006503,-0.000481,0.020796,0.001194,0.011743,-0.000944,-0.001689,-0.014421,0.006257,-0.000550,0.017443,0.011692,0.019420,1.000000

In [40]:
X

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,1,31,91,5,0,0.00,0,3,0,12,3,0.00,10.14,2,0,1
1,0,56,215,1,2,0.00,0,1,0,36,4,0.00,16.96,2,2,0
2,1,20,206,17,3,0.00,0,3,0,4,3,0.00,4.69,0,0,1
3,0,64,68,16,3,467.43,1,3,1,42,3,334.84,6.27,1,3,0
4,1,48,206,1,3,522.26,0,0,1,6,3,445.34,24.66,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1,59,112,6,2,375.02,0,0,1,1,3,249.52,19.70,1,0,0
5996,0,38,80,13,1,540.10,1,3,1,30,3,408.07,20.09,0,1,1
5997,0,62,44,7,0,169.63,0,1,1,90,1,43.72,15.19,0,2,1
5998,1,62,57,14,2,296.99,0,0,1,20,3,214.24,27.87,2,3,0
5999,0,20,47,8,1,0.00,1,3,0,8,0,0.00,15.63,1,3,1

In [41]:
y_correlate = X.corr()['purchased'].sort_values(ascending=False)

In [42]:
y_correlate

purchased           1.000000
cart_value          0.749938
price               0.544451
ages                0.033944
customer_segment    0.013391
payment_method      0.009665
gender              0.008063
loyalty_score       0.004579
discount_applied    0.004031
country             0.003802
product_category    0.003193
repeat_customer    -0.001689
referral_source    -0.003628
session_time       -0.007018
pages_visited      -0.008683
device_type        -0.013173
Name: purchased, dtype: float64

| Feature         | Correlation | Insight                                                                                                                                                                                                        |
| --------------- | ----------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **cart\_value** | **0.75**    | The most influential predictor of purchase. Higher cart values are strongly associated with successful purchases. You might be capturing **high-intent buyers** who’ve added more items or expensive products. |
| **price**       | **0.54**    | Customers are more likely to purchase **higher-priced items**, possibly due to quality perception or specific buyer intent (e.g., premium shoppers). Consider upselling or showcasing premium products.        |

Product Category has an extremely **weak positive** correlation:
Could suggest some categories are slightly more purchased than others, but it’s marginal.

*****MODEL IMPLEMENTATION BELOW*****

In [43]:
X

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,purchased,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,1,31,91,5,0,0.00,0,3,0,12,3,0.00,10.14,2,0,1
1,0,56,215,1,2,0.00,0,1,0,36,4,0.00,16.96,2,2,0
2,1,20,206,17,3,0.00,0,3,0,4,3,0.00,4.69,0,0,1
3,0,64,68,16,3,467.43,1,3,1,42,3,334.84,6.27,1,3,0
4,1,48,206,1,3,522.26,0,0,1,6,3,445.34,24.66,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1,59,112,6,2,375.02,0,0,1,1,3,249.52,19.70,1,0,0
5996,0,38,80,13,1,540.10,1,3,1,30,3,408.07,20.09,0,1,1
5997,0,62,44,7,0,169.63,0,1,1,90,1,43.72,15.19,0,2,1
5998,1,62,57,14,2,296.99,0,0,1,20,3,214.24,27.87,2,3,0
5999,0,20,47,8,1,0.00,1,3,0,8,0,0.00,15.63,1,3,1

In [44]:
y_updated = X['purchased']

In [45]:
X.drop(columns='purchased',inplace=True)

In [46]:
X

,gender,ages,country,pages_visited,payment_method,cart_value,discount_applied,customer_segment,loyalty_score,product_category,price,session_time,device_type,referral_source,repeat_customer
0,1,31,91,5,0,0.00,0,3,12,3,0.00,10.14,2,0,1
1,0,56,215,1,2,0.00,0,1,36,4,0.00,16.96,2,2,0
2,1,20,206,17,3,0.00,0,3,4,3,0.00,4.69,0,0,1
3,0,64,68,16,3,467.43,1,3,42,3,334.84,6.27,1,3,0
4,1,48,206,1,3,522.26,0,0,6,3,445.34,24.66,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1,59,112,6,2,375.02,0,0,1,3,249.52,19.70,1,0,0
5996,0,38,80,13,1,540.10,1,3,30,3,408.07,20.09,0,1,1
5997,0,62,44,7,0,169.63,0,1,90,1,43.72,15.19,0,2,1
5998,1,62,57,14,2,296.99,0,0,20,3,214.24,27.87,2,3,0
5999,0,20,47,8,1,0.00,1,3,8,0,0.00,15.63,1,3,1

In [47]:
y = y_updated

In [48]:
y

0       0
1       0
2       0
3       1
4       1
       ..
5995    1
5996    1
5997    1
5998    1
5999    0
Name: purchased, Length: 6000, dtype: int64

In [49]:
# Train and test 
X_train = X[:1500]
y_train = y[:1500]

In [50]:
X_test = X[1500:]
y_test = y[1500:]

In [51]:
X_test.shape

(4500, 15)

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [53]:
model = RandomForestClassifier(random_state=42)

In [54]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [55]:
y_pred = model.predict(X_test)

In [56]:
accuracy_score(y_test, y_pred)

1.0

In [57]:
confusion_matrix(y_test, y_pred)

array([[2244,    0],
       [   0, 2256]], dtype=int64)

In [58]:
report = classification_report(y_test, y_pred)

In [59]:
type(report)

str

In [61]:
report

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      2244\n           1       1.00      1.00      1.00      2256\n\n    accuracy                           1.00      4500\n   macro avg       1.00      1.00      1.00      4500\nweighted avg       1.00      1.00      1.00      4500\n'

In [62]:
report_dict = classification_report(y_test, y_pred, output_dict=True)

In [63]:
report_dict

{'0': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 2244.0},
 '1': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 2256.0},
 'accuracy': 1.0,
 'macro avg': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 4500.0},
 'weighted avg': {'precision': 1.0,
  'recall': 1.0,
  'f1-score': 1.0,
  'support': 4500.0}}

In [64]:
report_df = pd.DataFrame(report_dict).transpose()
report_df.style

The *classification model* achieved perfect performance metrics, including precision, recall, f1-score, and accuracy — all equal to 1.0 across both classes. This strongly suggests that the model was able to classify all instances in the test set without any errors.

However, given that a synthetic dataset was used, this level of performance may not generalize well to real-world data. The synthetic nature of the dataset likely results in highly separable feature patterns that are easy for the model to learn and classify. As a result, the model may be overfitting, capturing the exact patterns of the training data instead of learning more generalizable rules.

*****Model Validation*****

In [65]:
from sklearn.model_selection import cross_val_score

In [66]:
cv_scores = cross_val_score(model, X_test, y_test, cv=5, scoring='accuracy')

In [67]:
cv_scores

array([1., 1., 1., 1., 1.])

In [69]:
print("Cross-validation accuracy scores:", cv_scores)
print("Mean CV accuracy:", cv_scores.mean())
print("Standard deviation:", cv_scores.std())

Cross-validation accuracy scores: [1. 1. 1. 1. 1.]
Mean CV accuracy: 1.0
Standard deviation: 0.0

The model demonstrates perfect performance across all cross-validation folds, suggesting either the dataset is highly structured or the model may be overfitting to synthetic patterns. While this indicates strong model capability in capturing the dataset's structure, caution should be taken when generalizing to real-world data, which may be noisier and less predictable.

**Final report and conclusions on the data**

Top 3 Growth Drivers Now:
Cart Value – Optimize for higher-value checkouts.

Price – Promote premium or high-margin items.

Age (Demographics) – Tailor experience and targeting to high-converting age groups.

### Using pickle to save and load model to use: 

import pickle

# Save
with open('random_forest_model.pkl', 'wb') as f:
    pickle.dump(model, f)

# Load
with open('random_forest_model.pkl', 'rb') as f:
    model = pickle.load(f)